@{
    ViewData["Title"] = "List";
    var lista = (List<Recall>)ViewBag.Lista;
}


<style>
    .card-title {
        background: #ccc;
        text-align: center;
        padding: 10px;
    }

    .card {
        width: 18rem;
        padding: 0px;
        margin: 0px 2px 0px 2px;
    }

    .card-body {
        font-size: 12px;
    }
</style>

@if (ViewBag.Delete != null)
{
    @if (Convert.ToBoolean(ViewBag.Delete))
    {
<div class="alert alert-success">
    Item successfully deleted
</div>
    }
    else
    {
<div class="alert alert-danger">
    Item can't be deleted
</div>
    }
}

<div class="row" style="margin-top: 40px">
    <div class="card">
        <h5 class="card-title">Create Message</h5>
        <div class="card-body">
            <div>
                <div>Number Of Messages: <b>@ViewBag.TotalQueueCreate</b></div>
                <div>Delayed: <b>@ViewBag.TotalQueueCreate</b></div>
                <div>Not Visible: <b>@ViewBag.TotalQueueNotVisibleCreate</b></div>
            </div>
        </div>
    </div>

    <div class="card col">
        <h5 class="card-title">Update Message</h5>
        <div class="card-body">
            <div>
                <div>Number Of Messages: <b>@ViewBag.TotalQueueUpdate</b></div>
                <div>Delayed: <b>@ViewBag.TotalQueueUpdate</b></div>
                <div>Not Visible: <b>@ViewBag.TotalQueueNotVisibleUpdate</b></div>

            </div>
        </div>
    </div>

    <div class="card col">
        <h5 class="card-title">Sorry Message</h5>
        <div class="card-body">
            <div>
                <div>Number Of Messages: <b>@ViewBag.TotalQueueSorry</b></div>
                <div>Delayed: <b>@ViewBag.TotalQueueSorry</b></div>
                <div>Not Visible: <b>@ViewBag.TotalQueueNotVisibleSorry</b></div>

            </div>
        </div>
    </div>

    <div class="card col">
        <h5 class="card-title">Withdraw Message</h5>
        <div class="card-body">
            <div>
                <div>Number Of Messages: <b>@ViewBag.TotalQueueWithdraw</b></div>
                <div>Delayed: <b>@ViewBag.TotalQueueWithdraw</b></div>
                <div>NotVisible: <b>@ViewBag.TotalQueueNotVisibleWithdraw</b></div>

            </div>
        </div>
    </div>
</div>

<form action="/recall/sqsdel" onsubmit="return confirm('Confirms?')" method="post">
    <div id="deleteInformation" class="form-text" style="margin-top: 40px">
        To delete the message, please choose the queue and inform the Receipt handle
    </div>


    <input class="createMessage" type="radio" name="environment" id="createMessage"  checked style="margin-top: 20px" value="CREATE_MESSAGE">
    <label class="form-check-label" style="margin-right: 10px" for="createMessage">
        Create Message
    </label>


    <input class="updateMessage" type="radio" name="environment" id="updateMessage" value="UPDATE_MESSAGE" >
    <label class="form-check-label" style="margin-right: 10px" for="updateMessage">
        Update Message
    </label>

    <input class="sorryMessage" type="radio" name="environment" id="sorryMessage" value="SORRY_MESSEGE" >
    <label class="form-check-label" style="margin-right: 10px" for="sorryMessage">
        Sorry Message
    </label>

    <input class="withdrawMessage" type="radio" name="environment" id="Withdraw Message" value="WITHDRAW_MESSEGE" >
    <label class="form-check-label" style="margin-right: 10px" for="Withdraw Message">
        Withdraw Message 
    </label>


    <div class="mb-3" style="margin-top: 20px">
        <label for="receiptHandle" class="form-label">Receipt Handle</label>
        <textarea class="form-control" name="sqsId" rows="3"></textarea>
    </div>

    <div class="col text-center">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </div>
</form>
